body{
    background-image: url(../Kepek/dungeons.webp);
    background-size: cover;
}

body::before{
    content: '';
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 20%;
    z-index: -1;
}
h5{ color: white;
text-align: center;
margin-bottom: 30%;}

#arakara{
    height: 400px;
    background-image: url(Kepek/Arakara.jpg);
    background-position: center;
    background-size: cover;
   
    border: 2px solid orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
    
    
}
#torzs a {
    background-color: orange;
    width: 150px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 5px;
   margin-bottom: 1rem;
    border: 1px solid black;
    text-decoration: none;
     
}
#torzs a:hover{
     background-color: rgb(255, 94, 0);
    border: 2px solid rgb(255, 94, 0);
    text-decoration: underline;
}
#torzs a:active{
   background-color: yellow;
    border: 2px solid yellow;
    text-decoration: underline;
   

}
#doboz{
    color: white;
    width: fit-content;
   
    
}
.card {
  background-color: transparent !important;
}



#torzs button{
    background-color: rgb(148, 56, 3);
    color: gold;
    border: 1px solid rgb(10, 10, 10);
    
    
   
    
}

.dungeon:hover{
    box-shadow: 5px 5px 20px white;
}

 h1{
    text-align: center;
    font-weight: bold;
}




