body{
    background-image: url(Kepek/raidwallp.webp);
    background-position: center;
    

}

body::before{
    content: '';
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 20%;
    z-index: -1;
}
#palace{
    border-radius: 10px;
    border: 2px solid rgb(253, 103, 2);
    height: 400px;
    color: white;
    background-image: url(Kepek/palace.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
    align-items: center;
  
}

#undermine{
    border: 2px solid rgb(253, 103, 2);
    border-radius: 10px;
    height: 400px;
    color: white;
    background-image: url(Kepek/underminekep.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
    align-items: center;
}


#omega{
    border: 2px solid rgb(253, 103, 2);
    border-radius: 10px;
    color: white;
    background-image: url(Kepek/omega.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
   
    

}

#blackrock{
    border: 2px solid rgb(253, 103, 2);
    border-radius: 10px;
    height: 400px;
    color: white;
    background-image: url(Kepek/blackrock.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
}

#karesh{
    border: 2px solid rgb(253, 103, 2);
    border-radius: 10px;
    color: white;
    background-image: url(Kepek/karesh.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
}


#torzs a{
    width: 200px;
    text-align: center;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: 2px solid orange;
}
#torzs a:hover{
    background-color: rgb(255, 94, 0);
    border: 2px solid rgb(255, 94, 0);
}
#torzs a:active{
    background-color: yellow;
    border: 2px solid yellow;
    text-decoration: underline;
}





hr{
    color: rgb(0, 0, 0);
}
h3, p{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    
}

h1{
    color: black;
    text-align: center;
    font-weight: bold;
    
}