header{background-color: rgb(56, 55, 55);}
header ul li a {
    color: white !important;
    font-size: 30px !important;
    padding-left: 60px !important; 
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
}

header ul li a:hover{
    color: rgb(175, 72, 4) !important;
}

header #menu{
    text-decoration: underline;
    
}
header .dropdown-menu{
    background-color: rgb(37, 37, 37);
    
}


header img{
    width: 50px;
    height: 50px !important; 
}
body{background-color: gray;}

header nav {
    padding-left: 20px !important ;
}
#aktiv{
    color: rgb(133, 130, 130) !important;
    text-decoration: underline;
}



footer{background-color: rgb(56, 55, 55);
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    text-align: center;
   
    color: white;
    padding: 5px;
    margin-top: 10px;
}







